body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-link {
  margin-left: 20px;
}
.footer-link {
  text-decoration: none;
  color: inherit;  
}
.footer-link:hover {
  color: blue; 
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030; 
  background-color: #fff !important; 
  border-bottom: 1px solid #eaeaea;
}

footer a {
  text-decoration: none;   
  color: #000;            
  font-size: 15px;
  display: inline-block;   
  margin-bottom: 6px;      
  transition: color 0.3s ease;
}

.footer-links {
  display: flex;
  justify-content: center; 
  gap: 30px;               
}

.footer-links a {
  text-decoration: none;
  color: #444;
}
#supportHero{
  background-color: rgb(56, 126, 209);
  color: white;
  margin-top: 50px;
}

#supportHero a{
  color: white;
}

#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

#supportHero input{
  padding: 20px 50px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  margin: top 100px;
}